body {
	color: white;
	background-color: black;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
}

#header {
	text-align: right;
}

#content {
	border: thin solid white;
	padding: 5%;
	padding-bottom: 1em;
}

#content h1 {
	margin-top: 0;
	padding-top: 0;

	margin-left: -5%;
	margin-right: 50%;

	border-bottom: thin solid white;
}

#content a {
	color: white;

	text-decoration: underline;
}

P { 
	margin-top: 0em;
	margin-bottom: 0.5em;
}

#navigation a {
	color: white;
	text-decoration: none;
}
#navigation [rel="prev"] {
	padding-left: 1em;
	padding-right: 1em;
	float: left;
	border-right: thin white solid;
	border-left: thin white solid;
	border-bottom: thin white solid;
}
#navigation [rel="next"] {
	padding-left: 1em;
	padding-right: 1em;
	float: right;
	border-right: thin white solid;
	border-left: thin white solid;
	border-bottom: thin white solid;
}

#tags {
	float: right;
	border: thin white solid;
	margin-left: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
}

#tags li a {
	color: white;
	text-decoration: none;
}

#tags li.current {
	font-weight: bold;
	text-decoration: underline;
}

#dates {
	border-top: thin white solid;
	padding-bottom: 0;
	margin-bottom: 0;
}
