body {
	color: white;
	background-color: black;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
}

#header {
	text-align: right;
}

#menu {
	border-left: thin solid white;
	border-right: thin solid white;
	border-top: thin solid white;
}

#menu ul {
	list-style-type: none;
	margin: 0;
}

#menu li a {
	color: white;
	text-decoration: none;

	padding-left: 2em;
	padding-right: 2em;
	margin-right: 1em;

	border-left: thin solid white;
	border-right: thin solid white;
}

#menu li {
	display: inline;
}

#menu li a:hover {
	background-color: white;
	color: black;
}

#content {
	border: thin solid white;
	padding: 5%;
}

#content h2 {
	border-left: thin solid white;
	border-top: thin solid white;

	margin-left: -1em;
	padding-left: 1em;
}

P { 
	margin-top: 0em;
	margin-bottom: 0.5em;
}

#bio {
	margin-bottom: 1em;
}

#bio .nickname {
	/* So, this is kind of weird. */
	/* Mostly, it seemed like good metadata, but it's redundant to put it on screen. */
	display: none;
}

#recent h2 a {
	color: white;
	text-decoration: none;
}

#recent h2 a:hover {
	color: #dfdfdf;
	text-decoration: none;
}
